/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  line-height: 1;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.top-main {
  background-color: #716844;
}
.logo-image {
  max-width: 240px;
}
.intro {
  height: calc(100vh - 94px);
  background: url("../assets/images/intro-bg.jpg") 50% 20% / cover no-repeat;
}
.intro-left {
  padding: 40px 50px;
  margin-bottom: -20px;
  background-color: #716844;
}
.intro-right {
  margin-bottom: -20px;
}
.name {
  font-size: 65px;
}
.trailer-button {
  background-color: #2b2510;
  color: #ada277;
  font-size: 18px;
}
.about {
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-director {
  color: #716844;
  border-bottom: 1px solid;
}
.about-title {
  font-size: 22px;
  color: #716844;
}
.about-text {
  font-size: 14px;
  line-height: 20px;
  color: #716844;
}
.about-details {
  color: #716844;
  font-size: 11px;
}
.about-details:after {
  content: '\2022';
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.about-details:last-child:after {
  content: '';
}
.products {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2b2510;
}
.products-name {
  color: #ede6cb;
  font-size: 22px;
}
.products-sub-name {
  color: #ede6cb;
  font-size: 14px;
}
.products-item-inner {
  background-color: #39321a;
}
.products-item-name {
  font-size: 18px;
  color: #ede6cb;
}
.products-item-description-top {
  font-size: 13px;
  color: #ede6cb;
}
.products-item-description-item {
  line-height: 18px;
  color: #ada277;
}
.products-item-buy {
  font-size: 18px;
  color: #ede6cb;
}
.bottom-main {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000;
}
.bottom-main-content {
  max-width: 240px;
}
/*# sourceMappingURL=style.css.map */