body {
    margin: 0;
    background-color: #111111;
}

ul, h1, a, p, h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    text-decoration: none;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.header, .main {
    background-image: url("../assets/Header.png");
}

.main {
    margin-top: -25%;
    padding-top: 20%;
}


.header_list {
    display: flex;
    justify-content: center;
}

.list {
    padding: 7% 0;
    list-style-type: none;
}

.list_link {
    padding: 0 50px;
    font-size: 24px;
    color: #FFFFFF;
}

.header_text {
    color: #fff;
    text-align: center;
    margin: 121px 0 0;
    padding-bottom: 100px;
}

.header_title {
    font-size: 254px;

}

.header_information {
    font-size: 48px;
    margin-bottom: 109px;
}

.button_text {
    text-align: center;

    background: url("../assets/Button.png") no-repeat;
    font-size: 18px;
    padding: 15px 75px;
}

.about_us {
    background: url("../assets/Photo_About_us.png") no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 152px;
}

.about_us-content {
    margin-left: 52px;
    max-width: 600px;
}

.about_us-content {
    padding-top: 100px;
}

.about_us-header {
    font-size: 45px;
}

.about_us-font {
    font-size: 60px;
    margin-top: 21px;
}

.about_us-text {
    margin-top: 50px;
}

.content_background {
    background-image: url("../assets/Lorem_background.png");
}

.content {
    text-align: center;
    color: #fff;
    padding-top: 200px;
}

.content_header {
    font-size: 60px;
}

.text-center {
    display: flex;
    justify-content: center;
}

.content_text {
    padding-top: 57px;
    font-size: 14px;
    width: 30%;
}

.slider {
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.slider_list {
    list-style: none;
width: 20%;
}



.slider_list-photo{
    width: 100%;
}

.photo-border{
    border: 8px solid red;
    border-radius: 5px;
    width: 93%;

}

.join {
    background-image: url("../assets/Footer.png");
    background-position: 90% 25%;
    min-height: 550px;
    padding-top: 162px;
}

.join_title {
    text-align: center;
    font-size: 60px;
    color: #FF4E3E;
    padding-bottom: 50px;
}


.button_join.button_text {
    color: #FF4E3E;
    margin: 0 42%;
}

.join_text {
    text-align: center;
    color: #313131;
    margin-top: 200px;
    max-width: 120px;
}

footer {
    margin-top: -265px;
}